<!DOCTYPE html>
<html>
<head>
  <title>Lab Assignment</title>
</head>

<body>
  <div class="app-container-grid">
    <main-header></main-header>
    <main-content></main-content>
    <main-footer></main-footer>
    <!--<header class="main-header">
      <span class="align-center">r1c1</span>
      <div id="banner" class="align-center" (mouseenter)="showGreeting()" (mouseleave)="hideGreeting()">r1c2</div>
      <div class="align-center">r1c3</div>
    </header>-->
    <!--<div class="main-container-grid">
      <div class="align-center">r2c1</div>
      <div class="align-center">r2c2</div>
      <div class="align-center">r2c3</div>
    </div>-->
    <!--<footer class="main-footer">
      <div class="align-center">r3c1</div>
      <div class="align-center">r3c2</div>
      <div class="align-center">r3c3</div>
    </footer>-->
  </div>
</body>

</html>