 .main-container-grid {
      display: grid;
      grid-template-columns: 1fr 6fr 2fr;
      height: 100%;
    }

    .table-one {
      width: 100%;
    border: 1px solid #CCC;
    }

    .table-one > tbody > tr > td {
      border: 1px solid #CCC;
      min-height: 50px;
      padding: .5em;
    }

    .add-button {
      font-size: bold;
    }

    .pull-right{
      float: right;
    }